################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/main_host_service/.vs/ConSchedulerBackend/v15/Server/sqlite3
*\bin
*\obj
packages
!packages\*.target
*.suo
